*{
    margin: 0;
    padding: 0;
}


.cabeçalho{
    background-color:rgb(114, 170, 153) ;
    color: brown;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
}

.imagem-cabeçalho{
    width: 10%;
}
.iten-lista{
    display: inline-block;
    margin:0 16px;
    font-size: 34px ;
    
}
.loja{width: 30%;}